@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/**
Reference to create dark/light theme: https://tailwindcss.com/docs/colors#referencing-other-variables
*/
:root {
  --custom-color-primary: #ffffff; /* Light primary color */
  --custom-color-secondary: #000000; /* Darker secondary color */
  --custom-color-tertiary: #f4f7fC;
  --custom-color-quaternary: #FFFFFF;
  --custom-color-quinary: #07DF72;
  --custom-color-accent: #07DF72; /* Accent color (e.g., green or bright) */
  --custom-color-hover: #A3F1CE33; /* Light hover color */
  --custom-color-disable: #bfc3c9; /* Lighter disabled color */
}

/* Data-theme must be placed after :root; otherwise, root will take priority */
[data-theme="dark"] {
  --custom-color-primary: #000000; /* primary theme is completely dark, which is #000000 */
  --custom-color-secondary: #ffffff; /* completely contrast to primary theme, which is #ffffff */
  --custom-color-tertiary: #141820; /* used for background */
  --custom-color-quaternary: #303443; /* used for cards */
  --custom-color-quinary: #07DF72;
  --custom-color-accent: #ffffff;
  --custom-color-hover: #edf1fe1a;
  --custom-color-disable: #4b5563;
}

@theme inline {
  --color-primary: var(--custom-color-primary);
  --color-secondary: var(--custom-color-secondary);
  --color-tertiary: var(--custom-color-tertiary);
  --color-quaternary: var(--custom-color-quaternary);
  --color-quinary: var(--custom-color-quinary);
  --color-accent: var(--custom-color-accent);
  --color-hover: var(--custom-color-hover);
  --color-disable: var(--custom-color-disable);
}

body {
  font-family: "Inter", cursive;
}
